* {
  box-sizing: border-box;
  margin: 0;
}

#main-header {
  background: rgb(121, 61, 0);
  height: 100px;
}

#window {

  background: yellow;
}

#door {
  background: #000;
}

#green {
  background: green;
}
